* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
  /*  background-color: rgb(47, 4, 71); */
    background-image: linear-gradient(to right, purple, black);
    color: rgb(94, 255, 0);
    padding: 18px 0;
}
nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
     font-family: "Creepster", system-ui;
}

.logo {
    font-family: "Caveat", cursive;
    font-size: 22px;
    font-weight: bolder;
}