* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
  /*  background-color: rgb(47, 4, 71); */
    background-color: lime;
    color: purple;
    padding: 10px 0;
}
nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
     font-family: "Mono", system-ui;
}

.logo {
    font-family: "Caveat", cursive;
    font-size: 20px;
    font-weight: bolder;
}

.hero {
    background-image: linear-gradient(to right, purple, black);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.hero-left .one {
    font-size: 60px;
    color:rgb(94, 255, 0);
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
}

.hero-left .two {
    font-size: 40px;
    color:rgb(94, 255, 0);
    font-family: "Roboto", sans-serif;
}

.bold {
    font-weight: bold;
}

.hero-right img {
    border-radius: 14px;
    width: 200px;
    height: 200px;
}

.button-container {
    padding: 9px 0;
}

.btn {
    background-image: linear-gradient(to right, purple, rgb(74, 3, 83));
    color: rgb(94, 255, 0);
    padding: 7px 9px;
    margin: 0 2px;
    border: 2px solid lime;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
}

.project {
            display: flex;
            align-items: center;
            font-family: "Roboto", sans-serif;
            background-image: linear-gradient(to right, purple, black);
        }

        .project-image img {
            width: 49vw;
        }

        .project-info {
            display: flex;
            flex-direction: column;
            padding: 12px;
        }

        .project-info .text {
            font-size: 27px;
            font-weight: bold;
            padding: 10px 0;
            color: lime
        }

        .project-info p {
            padding: 12px;
            color: lime;
        }

        .row-reverse {
            flex-direction: row-reverse;
        }